*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Helvetica Neue';
    color: #222B36;
    background: linear-gradient(#F9F9FA, #5875EE);
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #222B36;
}

.inner_header{
    width: 75%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.navigation{
    font-weight: regular;
    letter-spacing: 2pt;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.navigation a{
    color: #F9F9FA;
    transition: 0.2s ease;
    padding-bottom: 10px;
}

.navigation a:hover{   
    border-bottom: 5px solid #97EEA8;
    border-radius: 33%;
}

h1{
    color: #F9F9FA;
    font-weight: lighter;
    font-style: italic;
    font-size: x-large;
    letter-spacing: 2pt;
    text-align: center;
}

.hero_section{
    margin-top: 75px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipse{
    width: 505px;
    height: 505px;
    border-radius: 50%;
    background-color: #222B36;
    box-shadow: 0 0 32px 0 rgba(34,43,54,.50);  
}

.hero_items{
    margin-left: 125px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ChesterAleman{
    font-size: 48px;
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 2pt;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    text-decoration: none;  
    }

.HeroHeading{
    font-weight: bold;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.HeroBio{
    width: 409px;
    font-weight: light;
    font-size: 20px;
    line-height: 22pt;
    margin-top: 40px;
    margin-bottom: 40px;  
}

.button{
    width: 172px;
    height: 64px;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    font-size: 20px;
    color: #F9F9FA;
    background: #222B36;
    border: none;
    border-radius: 9px;
    box-shadow: 0 0 32px 0 rgba(34,43,54,.25);
    transition: 0.2s ease;
}

.button:hover{
    transform: scale(103%);
    background: #5875EE;
}

.arrowContainer{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}

.ViewCaseStudies{
    font-size: 20px;
    font-style: italic;
    text-align: center;
    color: #222B36;
    letter-spacing: 2pt;
    justify-content: center;
}

.arrow{
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arrow div{
    position: absolute;
    height: 40px;
    width: 40px;
    border-top: 5px solid #222B36;
    border-left: 5px solid #222B36;
    transform: rotate(225deg);
}

.arrowContainer:hover{
    transition: 1 ease;
    transform: translate(0%, 10%);
}

.casestudies{
    display: flex;
    margin-top: 75px;
    flex-direction: column;
    align-items: center;
}

.casestudyname{
    font-weight: bold;
    color: #F9F9FA;
    font-size: 32px;
}

.casestudydescription{
    font-weight: light;
    font-size: 20px;
    line-height: 22pt;
    margin-top: 40px;
    color: #F9F9FA;
}

.casebutton{
    width: 240px;
    height: 64px;
    margin-top: 40px;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: #5875EE;
    border: none;
    border-radius: 9px;
    transition: 0.2s ease;
}

.casebutton:hover{
    transform: scale(103%);
    background: #97EEA8;
}

.study1{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 1100px;
    height: 500px;
    margin-bottom: 100px;
    border-radius: 20px;
    background-color: #222B36;
    box-shadow: 0 0 32px 0 rgba(34,43,54,.25);
    transition: 0.3s ease;
}

.study1textbox{
    width: 353px;
    margin-left: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.study1images{
    width: 300px;
    height: 300px;
    margin-left: 15%;
    border-radius: 50%;
    background: #97EEA8;
}

.study1:hover{
    transform: scale(102%);
    box-shadow: 0 0 50px 0 rgb(255, 255, 255);
}

.study2{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 1100px;
    height: 500px;
    margin-bottom: 100px;
    border-radius: 20px;
    background-color: #222B36;
    box-shadow: 0 0 32px 0 rgba(34,43,54,.25);
    transition: 0.3s ease;
}

.study2textbox{
    width: 353px;
    margin-left: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.study2images{
    width: 300px;
    height: 300px;
    margin-left: 15%;
    border-radius: 50%;
    background: #97EEA8;
}

.study2:hover{
    transform: scale(102%);
    box-shadow: 0 0 50px 0 rgb(255, 255, 255);
}

.study3{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 1100px;
    height: 500px;
    margin-bottom: 100px;
    border-radius: 20px;
    background-color: #222B36;
    box-shadow: 0 0 32px 0 rgba(34,43,54,.25);
    transition: 0.3s ease;
}

.study3textbox{
    width: 353px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 105px;
}

.study3images{
    width: 300px;
    height: 300px;
    margin-left: 15%;
    border-radius: 50%;
    background: #97EEA8;
}

.study3:hover{
    transform: scale(102%);
    box-shadow: 0 0 50px 0 rgb(255, 255, 255);
}

.aboutme_section{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footerellipse{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #222B36;
    box-shadow: 0 0 32px 0 rgba(34,43,54,.50);  
}

.bottomitems{
    margin-left: 125px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.aboutme{
    font-weight: bold;
    color: #F9F9FA;
    font-size: 32px;
    }

.bottombio{
    width: 700px;
    font-weight: light;
    font-size: 20px;
    line-height: 22pt;
    color: #F9F9FA;
    margin-top: 40px;
    margin-bottom: 40px;  
}

.bottombutton{
    width: 172px;
    height: 64px;
    margin-right: 20px;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: #222B36;
    border: none;
    border-radius: 9px;
    box-shadow: 0 0 32px 0 rgba(34,43,54,.25);
    transition: 0.2s ease;
}

.bottombutton:hover{
    transform: scale(103%);
    background: #97EEA8;
}

.footer_section{
    height: 280px;
    background: #222B36;
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
}

h2{
    color: #F9F9FA;
    font-weight: lighter;
    font-style: italic;
    font-size: x-large;
    letter-spacing: 2pt;
    padding-top: 15px;
}

p2{
    font-weight: bold;
    color: #F9F9FA;
    font-size: large;}

pg1{
    font-weight: regular;
    letter-spacing: 2pt;
    text-align: center;
    color: #F9F9FA;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: medium;
}

p3{
    padding-bottom: 10px;
    transition: 0.2s ease;
}

p4{
    padding-bottom: 10px;
    transition: 0.2s ease;
}

p5{
    padding-bottom: 10px;
    transition: 0.2s ease;
}

p3:hover{
    border-bottom: 5px solid #97EEA8;
    border-radius: 33%;
}


p5:hover{
    border-bottom: 5px solid #97EEA8;
    border-radius: 33%;
}

@media all and (max-width:1420px){

    .navigation{
        font-size: small;
        transition: 0.1s ease;
    }

    h1{
        font-size: large;
        transition: 0.1s ease;
    }
    
    .hero_section{
        margin-top: 75px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ellipse{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-color: #222B36;
        box-shadow: 0 0 32px 0 rgba(34,43,54,.50);  
    }
    
    .hero_items{
        text-align: center;
        margin-left: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .study1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 750px;
        margin-bottom: 100px;
        border-radius: 20px;
        background-color: #222B36;
    }

    .study1textbox{
        width: 353px;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .study1images{
        width: 300px;
        height: 300px;
        margin-left: 0px;
        margin-bottom: 40px;
        border-radius: 50%;
        background: #97EEA8;
    }


    .study2{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 750px;
        margin-bottom: 100px;
        border-radius: 20px;
        background-color: #222B36;
    }

    .study2textbox{
        width: 353px;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .study2images{
        width: 300px;
        height: 300px;
        margin-left: 0px;
        margin-bottom: 40px;
        border-radius: 50%;
        background: #97EEA8;
    }

    .study3{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 750px;
        margin-bottom: 100px;
        border-radius: 20px;
        background-color: #222B36;
    }

    .study3textbox{
        width: 353px;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .study3images{
        width: 300px;
        height: 300px;
        margin-left: 0px;
        margin-bottom: 40px;
        border-radius: 50%;
        background: #97EEA8;
    }

    .aboutme_section{
        flex-direction: column;
        align-items: center;
    }
    
    .footerellipse{
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    .bottomitems{
        margin-left: 0px;
        margin-bottom: 40px;
        text-align: center;
    }

    .bottombio{
        width: 475px;
    }

    .bottombutton{
        margin: 10px;
    }

    .footer_section{
        margin: 0px;
    }

}